@charset "utf-8";

.E3X2T { min-height: 100%; overflow: hidden; }

.W5aj_ { left: 0px; position: fixed; right: 0px; top: 0px; z-index: 12; }

.ABLKx { -webkit-box-ordinal-group: 2; order: 1; }

.VhasA { -webkit-box-ordinal-group: 4; order: 3; }

.SCxLW { -webkit-box-flex: 1; flex-grow: 1; -webkit-box-ordinal-group: 5; order: 4; }

.o64aR, ._3Laht { background-color: rgba(var(--b3f,250,250,250),1); }

.uzKWK, ._09ncq { background-color: rgba(var(--d87,255,255,255),1); }

._8Rna9 { -webkit-box-ordinal-group: 6; order: 5; padding: 0px 20px; }

.GhZ_W { margin-top: 85px; }

.NXc7H, .XajnB { -webkit-box-ordinal-group: 3; order: 2; }

.gW4DF { -webkit-box-ordinal-group: 1; order: 0; }

.jLuN9 { -webkit-box-ordinal-group: 1; order: 0; background-color: rgba(var(--b3f,250,250,250),1); padding: 0px; }

.f11OC { -webkit-box-ordinal-group: 1; order: 0; padding: 0px 20px; }

.f11OC { -webkit-box-ordinal-group: 6; order: 5; }

@supports (margin-bottom:env(safe-area-inset-bottom)) {
  .f11OC:not(.X6gVd) { margin-bottom: env(safe-area-inset-bottom); }
}

.X6gVd { -webkit-box-ordinal-group: 1; order: 0; }

.XajnB { flex-basis: 75px; }

.R4HNP { flex-basis: 54px; }

.tUEmP { flex-basis: 55px; }

.oBPxI { margin-bottom: 44px; }

.CsONw { margin-bottom: 40px; }

.Z_Gl2 { background-color: rgba(var(--d87,255,255,255),1); border-top: 1px solid rgba(var(--jb7,0,0,0),0.0975); bottom: 44px; opacity: 0.97; position: fixed; width: 100%; }

@supports (margin-bottom:env(safe-area-inset-bottom)) {
  .Z_Gl2 { margin-bottom: env(safe-area-inset-bottom); }
}

._1-msl { padding: 0px 5px; }

.KD4vR { background: 0px 0px; box-sizing: border-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding: 11px 13px 11px 11px; position: relative; width: 100%; }

.KD4vR:active { opacity: 1; }

.YIoKC { display: block; -webkit-box-flex: 0; flex: 0 0 auto; margin: 1px 0px 0px -1px; }

.FMlV_ { text-align: right; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

._4IAxF { background: 0px 0px; border: 1px solid rgb(255, 255, 255); border-radius: 3px; box-sizing: border-box; font-weight: 600; line-height: 25px; padding: 0px 10px; text-transform: uppercase; }

.dZvHF { -webkit-box-flex: 1; flex: 1 1 200px; -webkit-box-pack: center; justify-content: center; min-width: 1px; padding-right: 11px; }

.az88C { padding-left: 11px; }

.fvoD7 { padding-left: 4px; }

.xK6EF { font-size: 15px; font-weight: 600; line-height: 15px; margin: 0px 0px 2px; }

._5b2Kp { font-size: 12px; font-weight: 500; line-height: 12px; margin: 0px; }

._4IAxF, ._5b2Kp, .xK6EF { color: rgb(255, 255, 255); }

._8M4m4 { background: 0px 0px; box-sizing: border-box; border: 0px; padding: 0px 6px; margin: 0px -6px 0px 6px; line-height: 25px; }

._8M4m4::before { color: rgb(255, 255, 255); content: "×"; display: block; font-size: 22px; font-weight: 600; line-height: 25px; padding: 0px; margin: 0px; }

@-webkit-keyframes GradientRotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes GradientRotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.MFkQJ { background-color: rgb(189, 51, 129); overflow: hidden; display: block; }

.GfkS6 { background: linear-gradient(to right, rgb(189, 51, 129), rgb(238, 88, 63)); height: 100%; pointer-events: none; position: absolute; width: 100%; }

.V5UBK { animation: 12s steps(120) 0s infinite normal none running GradientRotation; margin-left: -25%; margin-top: -75%; min-height: 150%; min-width: 150%; padding-bottom: 75%; padding-top: 75%; }

.ZsSMR { z-index: 1; }

.iseBh { font-size: 12px; font-weight: 600; margin: 0px auto; text-transform: uppercase; width: 100%; }

.DINPA { color: rgba(var(--f52,142,142,142),1); }

.K5OFK { display: inline-block; margin-bottom: 7px; margin-right: 16px; }

.K5OFK:last-child { margin-right: 0px; }

.ixdEe { -webkit-box-flex: 1; flex-grow: 1; margin-bottom: 3px; }

@media (min-width: 876px) {
  .VWk7Y, .SkY6J { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; -webkit-box-pack: justify; justify-content: space-between; padding: 38px 0px; }
  .VWk7Y .uxKLF, .SkY6J .uxKLF { max-width: 100%; }
  .VWk7Y .ixdEe, .SkY6J .ixdEe { margin-right: 16px; }
  .SkY6J .uxKLF ._9Rlzb { margin-right: 0px; }
}

@media (max-width: 875px) {
  .VWk7Y, .SkY6J { padding: 10px 0px; text-align: center; }
  .VWk7Y .ixdEe, .SkY6J .ixdEe { -webkit-box-pack: center; justify-content: center; margin: 0px auto; max-width: 360px; }
}

.S2wby { padding: 10px 0px; text-align: center; }

.S2wby .ixdEe { -webkit-box-pack: center; justify-content: center; margin: 0px auto; max-width: 360px; }

.SkY6J { padding-top: 0px; }

.SkY6J .uxKLF { margin-bottom: 16px; }

.SkY6J .K5OFK { margin: 0px; }

.SkY6J .K5OFK:not(:last-of-type)::after { content: "·"; margin: 0px 0.25em; }

.SkY6J .K5OFK, .SkY6J .l93RR, .SkY6J .DINPA { color: rgba(var(--edc,199,199,199),1); font-size: 11px; font-weight: 400; line-height: 13px; text-transform: none; }

.SkY6J .DINPA { text-transform: uppercase; }

._3G4x7 { color: rgba(var(--fe0,0,55,107),1); cursor: pointer; display: inline-block; font-weight: 600; position: relative; text-transform: uppercase; vertical-align: top; }

.T26W3 { color: rgba(var(--d69,0,149,246),1); }

.hztqj { cursor: pointer; height: 100%; left: 0px; opacity: 0; position: absolute; top: 0px; width: 100%; }

.TQUPK { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: center; justify-content: center; }

._6Q5Yk { margin-left: 4px; transform: scale(0.5); }

.-ZQoH { height: 45px; z-index: 11; }

._7XkEo { background: rgba(var(--b3f,250,250,250),1); bottom: 0px; left: 0px; overflow: hidden auto; position: fixed; right: 0px; top: 44px; z-index: 12; }

._2e1VC { z-index: 13; }

._06yVv, .neTWR { -webkit-box-align: center; align-items: center; color: rgba(var(--i1d,38,38,38),1); display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-weight: 400; height: 44px; padding: 0px; text-transform: none; }

.Uam6t { background: 0px 0px; border: 0px; display: flex; -webkit-box-flex: 1; flex-grow: 1; height: 44px; margin: 0px; padding: 0px; }

._34G9B { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-size: 16px; height: 44px; line-height: 44px; padding: 0px; }

._34G9B, ._34G9B:visited { color: rgba(var(--i1d,38,38,38),1); }

.H0ovd, .H0ovd:visited { color: rgba(var(--i30,237,73,86),1); }

.xIOKA { -webkit-box-flex: 1; flex-grow: 1; }

.abaSk { background: rgba(var(--d87,255,255,255),1); border-top: 1px solid rgba(var(--b38,219,219,219),1); height: 44px; }

.i6Izp { -webkit-box-align: center; align-items: center; cursor: pointer; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-size: 16px; -webkit-box-pack: justify; justify-content: space-between; height: 44px; line-height: 44px; padding: 0px 16px; }

@supports (padding:max(0px)) {
  .i6Izp { padding-left: max(16px,env(safe-area-inset-left)); padding-right: max(16px,env(safe-area-inset-right)); }
}

.y2E5d { border-bottom: 1px solid rgba(var(--b38,219,219,219),1); }

.Yod9g { margin-top: 12px; }

.y2E5d:last-of-type { margin-bottom: 54px; }

.Ucj5b { color: rgba(var(--f52,142,142,142),1); font-size: 14px; font-weight: 600; margin: 20px 16px 8px; text-transform: uppercase; }

@supports (margin:max(0px)) {
  .Ucj5b { margin-left: max(16px,env(safe-area-inset-left)); margin-right: max(16px,env(safe-area-inset-right)); }
}

.qXyTW, .UP43G { background: 0px 0px; border: 0px; display: flex; font-size: 16px; font-weight: 600; padding: 0px; margin: 0px; }

.UP43G { color: rgba(var(--d69,0,149,246),1); }

.UP43G:disabled { opacity: 0.3; }

.hWpRv { position: absolute; z-index: 1; width: 100%; }

.S-mcP { background-color: rgba(var(--d87,255,255,255),1); border-bottom: 1px solid rgba(var(--b6a,219,219,219),1); display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column wrap; font-size: 16px; font-weight: 600; height: 60px; padding: 0px 20px; width: 100%; z-index: 2; }

.m7ETg { -webkit-box-align: center; align-items: center; color: rgba(var(--i1d,38,38,38),1); display: inline-block; -webkit-box-flex: 1; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; min-width: 0px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }

.AjEzM { -webkit-box-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: inherit; -webkit-box-pack: justify; justify-content: space-between; width: 100%; }

._2NzhO { flex-basis: 32px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.xkdid > :not(:first-child) { padding-left: 8px; }

.EQ1Mr { -webkit-box-pack: end; justify-content: flex-end; }

.EQ1Mr > :not(:last-child) { padding-right: 8px; }

.Ljd8Q .m7ETg { -webkit-box-align: start; align-items: flex-start; text-align: left; }

.Ljd8Q .xkdid { flex-basis: 0px; }

.ZoygQ { height: 45px; }

.KGiwt { background-color: rgba(var(--d87,255,255,255),1); border: 0px; bottom: 0px; height: 44px; left: 0px; position: fixed; right: 0px; top: auto; user-select: none; z-index: 10; }

.KGiwt::before { background: rgba(var(--b6a,219,219,219),1); content: ""; height: 1px; left: 0px; position: absolute; right: 0px; top: -1px; }

@supports (bottom:env(safe-area-inset-bottom)) and (height:env(safe-area-inset-bottom)) {
  .KGiwt { bottom: env(safe-area-inset-bottom); }
  .KGiwt::after { background-color: rgba(var(--d87,255,255,255),1); content: ""; height: env(safe-area-inset-bottom); left: 0px; position: absolute; right: 0px; top: 44px; }
}

.rBWT5 { height: 45px; }

.-HOXV { bottom: 20px; left: 50%; position: fixed; transform: translateX(-50%); z-index: 3; }

.A8wCM, ._Cwuq { height: 100%; }

.-HOXV { bottom: 55px; }

.Xwp_P .KGiwt { bottom: auto; position: fixed; top: 0px; }

.Xwp_P .KGiwt::before { bottom: -1px; top: auto; }

.Xwp_P .KGiwt::after { height: 0px; }

.BvyAW { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: 100%; }

._0TPg, .q02Nz { height: 100%; -webkit-box-pack: center; justify-content: center; }

.q02Nz { -webkit-box-flex: 1; flex-grow: 1; }

._0TPg { -webkit-box-align: center; align-items: center; display: flex; }

.gKAyB { -webkit-box-align: center; align-items: center; display: flex; height: 100%; -webkit-box-pack: center; justify-content: center; }

.Wn8y-::after { background: rgba(var(--c37,237,73,86),1); border-radius: 2px; bottom: 5px; content: ""; height: 4px; left: 0px; margin: 0px auto; position: absolute; right: 0px; transform: translateX(-0.5px); width: 4px; }

.cqQf9 { position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); }

.hP7ps { border: 1px solid rgba(var(--i1d,38,38,38),1); border-radius: 50%; height: 30px; position: absolute; width: 30px; }

.ryLs_ { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding: 0px 16px; }

.trEs_ { flex-basis: 103px; flex-shrink: 0; height: 29px; margin-top: 10px; }

.dfm5c { flex-basis: 45px; font-size: 14px; margin-top: 16px; min-width: 45px; }

.dfm5c, .dfm5c:active, .dfm5c:visited { color: rgba(var(--d69,0,149,246),1); font-weight: 600; }

.dfm5c:active { opacity: 0.5; }

.lAP6S { color: rgba(var(--edc,199,199,199),1); font-size: 14px; line-height: 29px; margin: 0px 8px; }

.yKJnu { align-self: center; display: block; -webkit-box-flex: 1; flex-grow: 1; margin-top: 4px; text-align: right; }

.yKJnu button { display: inline; margin-left: 10px; }

.FKAkE { background-image: linear-gradient(to right, rgb(55, 150, 239), rgb(97, 197, 241)); -webkit-box-ordinal-group: 3; order: 2; }

.P0E_s, ._9K2q4 { color: rgb(255, 255, 255); margin-left: 20px; text-align: left; }

._9K2q4 { font-weight: 600; margin-top: 10px; font-size: 14px; }

.P0E_s { font-size: 12px; margin-bottom: 10px; }

._4RgfU { background-color: rgba(var(--d69,0,149,246),1); }

.SpHho { color: rgb(255, 255, 255); font-size: 12px; line-height: 32px; margin-left: 12px; text-align: left; }

.za6AE { border: 2px solid rgba(var(--i1d,38,38,38),1); border-radius: 50%; box-sizing: content-box; height: 96px; width: 96px; }

.JVzwk { text-align: center; }

.KlSaW { background: rgba(var(--d87,255,255,255),1); border-radius: 500px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 22px; margin: 0px auto; }

.Rxdjr { -webkit-appearance: none; -webkit-font-smoothing: antialiased; background: 0px 0px; border: 0px; margin: 0px; padding: 0px; }

.AHCwU { background-color: rgba(var(--d87,255,255,255),1); border: 1px solid rgba(var(--b6a,219,219,219),1); border-radius: 3px; margin: 60px auto 0px; max-width: 935px; overflow: hidden; }

.AHCwU:empty { border: 0px; }