@charset "utf-8";

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote::after, blockquote::before, q::after, q::before { content: none; }

table { border-collapse: collapse; border-spacing: 0px; }

#react-root, article, div, footer, header, main, nav, section { -webkit-box-align: stretch; align-items: stretch; border: 0px solid rgb(0, 0, 0); box-sizing: border-box; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; flex-shrink: 0; margin: 0px; padding: 0px; position: relative; }

body { background: rgba(var(--d87,255,255,255),1); overflow-y: scroll; }

body:-webkit-full-screen { height: 100%; width: 100%; }

body:fullscreen { height: 100%; width: 100%; }

html { text-size-adjust: 100%; }

html, body, #react-root { height: 100%; }

#react-root { z-index: 0; }

.js-focus-visible :focus:not([data-focus-visible-added]) { outline: 0px; }

button { margin: 0px; }

body, button, input, textarea { color: rgba(var(--i1d,38,38,38),1); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 18px; }

a, a:visited { color: rgba(var(--fe0,0,55,107),1); text-decoration: none; }

a:active { opacity: 0.5; }

.KOKN4 div { color: rgba(var(--fe0,0,55,107),1); }

.HpHcz { -webkit-box-align: center; align-items: center; background-color: rgba(var(--d87,255,255,255),1); -webkit-box-flex: 1; flex-grow: 1; -webkit-box-pack: center; justify-content: center; padding: 76px; width: 100%; }

.PCQoG { color: rgba(var(--i1d,38,38,38),1); margin: 28px 0px; max-width: 230px; text-align: center; }

.N7z8J { font-size: 20px; }

.GTmNI { font-size: 12px; line-height: 16px; margin-top: 8px; }

._3m3RQ, ._3m3RQ:visited { background-color: rgba(var(--d69,0,149,246),1); border-radius: 3px; color: rgba(var(--eca,255,255,255),1); display: block; font-size: 16px; margin: 0px 0px 8px; padding: 8px 32px; text-align: center; }

._7XMpj, ._7XMpj:visited { background-color: transparent; color: rgba(var(--f52,142,142,142),1); }

.z1VUo { margin-right: 8px; }

.z1VUo:last-child { margin-right: 0px; }

.Rt8TI { height: 40px; }

.kKF_H { height: 32px; }

.E3X2T { min-height: 100%; overflow: hidden; }

.W5aj_ { left: 0px; position: fixed; right: 0px; top: 0px; z-index: 12; }

.ABLKx { -webkit-box-ordinal-group: 2; order: 1; }

.VhasA { -webkit-box-ordinal-group: 4; order: 3; }

.SCxLW { -webkit-box-flex: 1; flex-grow: 1; -webkit-box-ordinal-group: 5; order: 4; }

.o64aR, ._3Laht { background-color: rgba(var(--b3f,250,250,250),1); }

.uzKWK, ._09ncq { background-color: rgba(var(--d87,255,255,255),1); }

._8Rna9 { -webkit-box-ordinal-group: 6; order: 5; padding: 0px 20px; }

.GhZ_W { margin-top: 85px; }

.NXc7H, .XajnB { -webkit-box-ordinal-group: 3; order: 2; }

.gW4DF { -webkit-box-ordinal-group: 1; order: 0; }

.jLuN9 { -webkit-box-ordinal-group: 1; order: 0; background-color: rgba(var(--b3f,250,250,250),1); padding: 0px; }

.f11OC { -webkit-box-ordinal-group: 1; order: 0; padding: 0px 20px; }

.f11OC { -webkit-box-ordinal-group: 6; order: 5; }

@supports (margin-bottom:env(safe-area-inset-bottom)) {
  .f11OC:not(.X6gVd) { margin-bottom: env(safe-area-inset-bottom); }
}

.X6gVd { -webkit-box-ordinal-group: 1; order: 0; }

.XajnB { flex-basis: 75px; }

.R4HNP { flex-basis: 54px; }

.tUEmP { flex-basis: 55px; }

.oBPxI { margin-bottom: 44px; }

.CsONw { margin-bottom: 40px; }

.Z_Gl2 { background-color: rgba(var(--d87,255,255,255),1); border-top: 1px solid rgba(var(--jb7,0,0,0),0.0975); bottom: 44px; opacity: 0.97; position: fixed; width: 100%; }

@supports (margin-bottom:env(safe-area-inset-bottom)) {
  .Z_Gl2 { margin-bottom: env(safe-area-inset-bottom); }
}

._1-msl { padding: 0px 5px; }

.KD4vR { background: 0px 0px; box-sizing: border-box; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding: 11px 13px 11px 11px; position: relative; width: 100%; }

.KD4vR:active { opacity: 1; }

.YIoKC { display: block; -webkit-box-flex: 0; flex: 0 0 auto; margin: 1px 0px 0px -1px; }

.FMlV_ { text-align: right; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

._4IAxF { background: 0px 0px; border: 1px solid rgb(255, 255, 255); border-radius: 3px; box-sizing: border-box; font-weight: 600; line-height: 25px; padding: 0px 10px; text-transform: uppercase; }

.dZvHF { -webkit-box-flex: 1; flex: 1 1 200px; -webkit-box-pack: center; justify-content: center; min-width: 1px; padding-right: 11px; }

.az88C { padding-left: 11px; }

.fvoD7 { padding-left: 4px; }

.xK6EF { font-size: 15px; font-weight: 600; line-height: 15px; margin: 0px 0px 2px; }

._5b2Kp { font-size: 12px; font-weight: 500; line-height: 12px; margin: 0px; }

._4IAxF, ._5b2Kp, .xK6EF { color: rgb(255, 255, 255); }

._8M4m4 { background: 0px 0px; box-sizing: border-box; border: 0px; padding: 0px 6px; margin: 0px -6px 0px 6px; line-height: 25px; }

._8M4m4::before { color: rgb(255, 255, 255); content: "×"; display: block; font-size: 22px; font-weight: 600; line-height: 25px; padding: 0px; margin: 0px; }

@-webkit-keyframes GradientRotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes GradientRotation { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.MFkQJ { background-color: rgb(189, 51, 129); overflow: hidden; display: block; }

.GfkS6 { background: linear-gradient(to right, rgb(189, 51, 129), rgb(238, 88, 63)); height: 100%; pointer-events: none; position: absolute; width: 100%; }

.V5UBK { animation: 12s steps(120) 0s infinite normal none running GradientRotation; margin-left: -25%; margin-top: -75%; min-height: 150%; min-width: 150%; padding-bottom: 75%; padding-top: 75%; }

.ZsSMR { z-index: 1; }

.Y1CWm { border-radius: 50%; }

.vCZ2N { z-index: 4; }

.xZ2Xk { background: linear-gradient(to left bottom, rgba(163, 7, 186, 0.9), rgba(253, 141, 50, 0.9)); bottom: 0px; left: 0px; position: fixed; text-align: center; width: 100%; z-index: 4; }

._34d9n { position: absolute; right: 10px; top: 10px; z-index: 1; }

._4PXWR { background: rgba(var(--eca,255,255,255),1); border-radius: 4px; height: 25px; }

.XwxgD { background: 0px 0px; height: 25px; margin-bottom: 5px; padding: 10px; }

.qoFS3 { -webkit-box-align: center; align-items: center; background: linear-gradient(to left bottom, rgba(163, 7, 186, 0.9), rgba(253, 141, 50, 0.9)); bottom: 0px; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row nowrap; height: 55px; -webkit-box-pack: center; justify-content: center; left: 0px; position: fixed; text-align: center; width: 100%; z-index: 4; }

._1Xd3d { -webkit-box-align: center; align-items: center; display: flex; height: 100%; -webkit-box-pack: center; justify-content: center; padding: 13px 9px 13px 16px; }

.DVYsC { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; flex-shrink: 1; height: 100%; justify-content: space-around; padding: 10px 0px; }

.JJ5NI { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; float: right; height: 100%; -webkit-box-pack: center; justify-content: center; margin-left: auto; padding: 0px 6px; }

.SUkpz { background: 0px 0px; border: 1px solid rgba(var(--eca,255,255,255),1); border-radius: 3px; box-sizing: border-box; margin: 0px 6px 0px 0px; padding: 8px; }

.cT98z { background: linear-gradient(to right, rgb(253, 141, 50), rgb(163, 7, 186)); height: 4px; opacity: 0.85; position: absolute; top: 0px; width: 100%; z-index: 5; }

.xZ2Xk.IXSPt { background: rgba(var(--d87,255,255,255),0.95); }

._4PXWR.IXSPt { background: linear-gradient(to left, rgba(163, 7, 186, 0.9), rgba(253, 141, 50, 0.9)); font-weight: 700; height: 30px; }

.URuyf { background: rgba(var(--d87,255,255,255),0.95); bottom: 0px; height: 55px; left: 0px; padding-top: 5px; position: fixed; width: 100%; z-index: 4; }

.iGArL { color: rgba(var(--i1d,38,38,38),1); font-weight: 600; line-height: 1; }

.gGlsz { background: linear-gradient(to right, rgb(253, 141, 50), rgb(163, 7, 186)); border: 0px; border-radius: 3px; color: rgba(var(--eca,255,255,255),1); font-weight: 600; height: 30px; padding: 0px 10px; }

.v9z_I { background-color: rgba(var(--f23,255,255,255),1); border-top-left-radius: 12px; border-top-right-radius: 12px; bottom: 0px; box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px; left: 0px; position: fixed; width: 100%; z-index: 4; }

.t1Ya2 { border: 0px; text-align: left; }

.iseBh { font-size: 12px; font-weight: 600; margin: 0px auto; text-transform: uppercase; width: 100%; }

.DINPA { color: rgba(var(--f52,142,142,142),1); }

.K5OFK { display: inline-block; margin-bottom: 7px; margin-right: 16px; }

.K5OFK:last-child { margin-right: 0px; }

.ixdEe { -webkit-box-flex: 1; flex-grow: 1; margin-bottom: 3px; }

@media (min-width: 876px) {
  .VWk7Y, .SkY6J { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; -webkit-box-pack: justify; justify-content: space-between; padding: 38px 0px; }
  .VWk7Y .uxKLF, .SkY6J .uxKLF { max-width: 100%; }
  .VWk7Y .ixdEe, .SkY6J .ixdEe { margin-right: 16px; }
  .SkY6J .uxKLF ._9Rlzb { margin-right: 0px; }
}

@media (max-width: 875px) {
  .VWk7Y, .SkY6J { padding: 10px 0px; text-align: center; }
  .VWk7Y .ixdEe, .SkY6J .ixdEe { -webkit-box-pack: center; justify-content: center; margin: 0px auto; max-width: 360px; }
}

.S2wby { padding: 10px 0px; text-align: center; }

.S2wby .ixdEe { -webkit-box-pack: center; justify-content: center; margin: 0px auto; max-width: 360px; }

.SkY6J { padding-top: 0px; }

.SkY6J .uxKLF { margin-bottom: 16px; }

.SkY6J .K5OFK { margin: 0px; }

.SkY6J .K5OFK:not(:last-of-type)::after { content: "·"; margin: 0px 0.25em; }

.SkY6J .K5OFK, .SkY6J .l93RR, .SkY6J .DINPA { color: rgba(var(--edc,199,199,199),1); font-size: 11px; font-weight: 400; line-height: 13px; text-transform: none; }

.SkY6J .DINPA { text-transform: uppercase; }

._3G4x7 { color: rgba(var(--fe0,0,55,107),1); cursor: pointer; display: inline-block; font-weight: 600; position: relative; text-transform: uppercase; vertical-align: top; }

.T26W3 { color: rgba(var(--d69,0,149,246),1); }

.hztqj { cursor: pointer; height: 100%; left: 0px; opacity: 0; position: absolute; top: 0px; width: 100%; }

.TQUPK { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: center; justify-content: center; }

._6Q5Yk { margin-left: 4px; transform: scale(0.5); }

.-ZQoH { height: 45px; z-index: 11; }

._7XkEo { background: rgba(var(--b3f,250,250,250),1); bottom: 0px; left: 0px; overflow: hidden auto; position: fixed; right: 0px; top: 44px; z-index: 12; }

._2e1VC { z-index: 13; }

._06yVv, .neTWR { -webkit-box-align: center; align-items: center; color: rgba(var(--i1d,38,38,38),1); display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-weight: 400; height: 44px; padding: 0px; text-transform: none; }

.Uam6t { background: 0px 0px; border: 0px; display: flex; -webkit-box-flex: 1; flex-grow: 1; height: 44px; margin: 0px; padding: 0px; }

._34G9B { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-size: 16px; height: 44px; line-height: 44px; padding: 0px; }

._34G9B, ._34G9B:visited { color: rgba(var(--i1d,38,38,38),1); }

.H0ovd, .H0ovd:visited { color: rgba(var(--i30,237,73,86),1); }

.xIOKA { -webkit-box-flex: 1; flex-grow: 1; }

.abaSk { background: rgba(var(--d87,255,255,255),1); border-top: 1px solid rgba(var(--b38,219,219,219),1); height: 44px; }

.i6Izp { -webkit-box-align: center; align-items: center; cursor: pointer; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-flex: 1; flex-grow: 1; font-size: 16px; -webkit-box-pack: justify; justify-content: space-between; height: 44px; line-height: 44px; padding: 0px 16px; }

@supports (padding:max(0px)) {
  .i6Izp { padding-left: max(16px,env(safe-area-inset-left)); padding-right: max(16px,env(safe-area-inset-right)); }
}

.y2E5d { border-bottom: 1px solid rgba(var(--b38,219,219,219),1); }

.Yod9g { margin-top: 12px; }

.y2E5d:last-of-type { margin-bottom: 54px; }

.Ucj5b { color: rgba(var(--f52,142,142,142),1); font-size: 14px; font-weight: 600; margin: 20px 16px 8px; text-transform: uppercase; }

@supports (margin:max(0px)) {
  .Ucj5b { margin-left: max(16px,env(safe-area-inset-left)); margin-right: max(16px,env(safe-area-inset-right)); }
}

.qXyTW, .UP43G { background: 0px 0px; border: 0px; display: flex; font-size: 16px; font-weight: 600; padding: 0px; margin: 0px; }

.UP43G { color: rgba(var(--d69,0,149,246),1); }

.UP43G:disabled { opacity: 0.3; }

.hWpRv { position: absolute; z-index: 1; width: 100%; }

@-webkit-keyframes LoadingBarProgress { 
  0% { background-position: 0% 0px; }
  100% { background-position: 125% 0px; }
}

@keyframes LoadingBarProgress { 
  0% { background-position: 0% 0px; }
  100% { background-position: 125% 0px; }
}

@-webkit-keyframes LoadingBarEnter { 
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@keyframes LoadingBarEnter { 
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

.BHkOG { height: 3px; background: linear-gradient(to right, rgb(39, 196, 245), rgb(163, 7, 186), rgb(253, 141, 50), rgb(88, 195, 34), rgb(39, 196, 245)) 0% 0% / 500% rgb(39, 196, 245); animation: 2s linear 0s infinite normal none running LoadingBarProgress, 0.5s ease-out 0s 1 normal none running LoadingBarEnter; transform-origin: left center; width: 100%; }

._9ezyW { background-color: rgba(var(--d87,255,255,255),1); display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column wrap; font-size: 16px; font-weight: 600; left: 0px; position: fixed; right: 0px; top: 0px; z-index: 1; }

._9ezyW::before { background-color: rgba(var(--b6a,219,219,219),1); bottom: -1px; content: ""; height: 1px; left: 0px; position: absolute; right: 0px; }

.b5itu { -webkit-box-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: 44px; -webkit-box-pack: justify; justify-content: space-between; padding: 0px 16px; width: 100%; }

.mXkkY { flex-basis: 32px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.HOQT4 > :not(:first-child) { padding-left: 8px; }

.KDuQp { -webkit-box-pack: end; justify-content: flex-end; }

.KDuQp > :not(:last-child) { padding-right: 8px; }

.K3Sf1 { -webkit-box-align: center; align-items: center; color: rgba(var(--i1d,38,38,38),1); display: block; -webkit-box-flex: 1; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; min-width: 0px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }

.eerSz .K3Sf1, .eerSz .K3Sf1 a { text-align: left; }

.eerSz .HOQT4 { flex-basis: 0px; }

.lOPC8 { -webkit-box-align: center; align-items: center; background-color: rgb(51, 51, 51); backdrop-filter: blur(10px); color: rgb(142, 142, 142); display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: center; justify-content: center; line-height: 15px; padding: 16px 44px; text-align: center; width: 100%; }

.DPEif { padding: 16px 28px 16px 16px; }

.HLoYX { font-size: 11px; max-width: 960px; text-align: left; }

a.sSX8t { color: rgb(142, 142, 142); text-decoration: underline; }

.KPZNL { background-color: transparent; box-sizing: border-box; border: 0px; cursor: pointer; -webkit-box-flex: 0; flex: 0 1 auto; padding: 0px 6px; position: absolute; right: 16px; top: 20px; }

.S-mcP { background-color: rgba(var(--d87,255,255,255),1); border-bottom: 1px solid rgba(var(--b6a,219,219,219),1); display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-flow: column wrap; font-size: 16px; font-weight: 600; height: 60px; padding: 0px 20px; width: 100%; z-index: 2; }

.m7ETg { -webkit-box-align: center; align-items: center; color: rgba(var(--i1d,38,38,38),1); display: inline-block; -webkit-box-flex: 1; flex: 1 1 0%; -webkit-box-pack: center; justify-content: center; min-width: 0px; overflow: hidden; text-align: center; text-overflow: ellipsis; white-space: nowrap; }

.AjEzM { -webkit-box-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: inherit; -webkit-box-pack: justify; justify-content: space-between; width: 100%; }

._2NzhO { flex-basis: 32px; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.xkdid > :not(:first-child) { padding-left: 8px; }

.EQ1Mr { -webkit-box-pack: end; justify-content: flex-end; }

.EQ1Mr > :not(:last-child) { padding-right: 8px; }

.Ljd8Q .m7ETg { -webkit-box-align: start; align-items: flex-start; text-align: left; }

.Ljd8Q .xkdid { flex-basis: 0px; }

.ZoygQ { height: 45px; }

.KGiwt { background-color: rgba(var(--d87,255,255,255),1); border: 0px; bottom: 0px; height: 44px; left: 0px; position: fixed; right: 0px; top: auto; user-select: none; z-index: 10; }

.KGiwt::before { background: rgba(var(--b6a,219,219,219),1); content: ""; height: 1px; left: 0px; position: absolute; right: 0px; top: -1px; }

@supports (bottom:env(safe-area-inset-bottom)) and (height:env(safe-area-inset-bottom)) {
  .KGiwt { bottom: env(safe-area-inset-bottom); }
  .KGiwt::after { background-color: rgba(var(--d87,255,255,255),1); content: ""; height: env(safe-area-inset-bottom); left: 0px; position: absolute; right: 0px; top: 44px; }
}

.rBWT5 { height: 45px; }

.-HOXV { bottom: 20px; left: 50%; position: fixed; transform: translateX(-50%); z-index: 3; }

.A8wCM, ._Cwuq { height: 100%; }

.-HOXV { bottom: 55px; }

.Xwp_P .KGiwt { bottom: auto; position: fixed; top: 0px; }

.Xwp_P .KGiwt::before { bottom: -1px; top: auto; }

.Xwp_P .KGiwt::after { height: 0px; }

.BvyAW { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: 100%; }

._0TPg, .q02Nz { height: 100%; -webkit-box-pack: center; justify-content: center; }

.q02Nz { -webkit-box-flex: 1; flex-grow: 1; }

._0TPg { -webkit-box-align: center; align-items: center; display: flex; }

.gKAyB { -webkit-box-align: center; align-items: center; display: flex; height: 100%; -webkit-box-pack: center; justify-content: center; }

.Wn8y-::after { background: rgba(var(--c37,237,73,86),1); border-radius: 2px; bottom: 5px; content: ""; height: 4px; left: 0px; margin: 0px auto; position: absolute; right: 0px; transform: translateX(-0.5px); width: 4px; }

.cqQf9 { position: absolute; bottom: 60px; left: 50%; transform: translateX(-50%); }

.hP7ps { border: 1px solid rgba(var(--i1d,38,38,38),1); border-radius: 50%; height: 30px; position: absolute; width: 30px; }

.Iazdo { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.D23G0::after { background: rgba(var(--c37,237,73,86),1); border-radius: 2px; content: ""; height: 4px; left: 21px; margin: 0px auto; position: absolute; top: 40%; width: 4px; }

.tb_sK { display: none !important; }

._0KY_R { -webkit-box-align: end; align-items: flex-end; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; margin-left: -12px; }

.ryLs_ { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding: 0px 16px; }

.trEs_ { flex-basis: 103px; flex-shrink: 0; height: 29px; margin-top: 10px; }

.dfm5c { flex-basis: 45px; font-size: 14px; margin-top: 16px; min-width: 45px; }

.dfm5c, .dfm5c:active, .dfm5c:visited { color: rgba(var(--d69,0,149,246),1); font-weight: 600; }

.dfm5c:active { opacity: 0.5; }

.lAP6S { color: rgba(var(--edc,199,199,199),1); font-size: 14px; line-height: 29px; margin: 0px 8px; }

.yKJnu { align-self: center; display: block; -webkit-box-flex: 1; flex-grow: 1; margin-top: 4px; text-align: right; }

.yKJnu button { display: inline; margin-left: 10px; }

._lz6s { -webkit-box-align: center; align-items: center; background-color: rgba(var(--d87,255,255,255),1); border-bottom: 1px solid rgba(var(--b6a,219,219,219),1); height: 77px; position: fixed; top: 0px; transition: height 0.2s ease-in-out 0s; width: 100%; z-index: 3; }

.aUCRo { -webkit-box-align: center; align-items: center; height: 52px; }

.Hz2lF { -webkit-box-align: center; align-items: center; height: 54px; }

.MWDvN { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: 77px; -webkit-box-pack: center; justify-content: center; max-width: 975px; padding: 26px 20px; transition: height 0.2s ease-in-out 0s; width: 100%; }

.buoMu { height: 52px; padding: 0px 20px; }

.nfCOa { height: 54px; padding: 0px 20px; }

.oJZym { -webkit-box-flex: 1; flex: 1 9999 0%; min-width: 40px; }

._7mese { opacity: 1; transition: opacity 0.2s ease-in-out 0s; }

.buoMu ._7mese { opacity: 0; pointer-events: none; }

.buoMu .efNlB { opacity: 1; pointer-events: all; }

.efNlB { opacity: 0; pointer-events: none; position: absolute; top: 4px; transition: opacity 0.2s ease-in-out 0s; }

.ctQZg { place-content: center flex-end; -webkit-box-align: center; align-items: center; display: flex; -webkit-box-flex: 1; flex: 1 0 0%; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-flow: row wrap; -webkit-box-pack: end; }

a.tdiEy, a.tdiEy:visited { color: rgba(var(--d69,0,149,246),1); font-weight: 600; line-height: 28px; }

.em0zJ { font-size: 16px; }

.H46iC { border: 0px; cursor: pointer; -webkit-box-flex: 0; flex: 0 0 auto; overflow: hidden; padding: 0px; text-align: right; text-overflow: ellipsis; }

._47KiJ, .ZcHy5 { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding-left: 24px; white-space: nowrap; }

.XrOey:not(:first-child) { margin-left: 30px; }

.Fifk5:not(:first-child) { margin-left: 22px; }

.H46iC { background-color: rgba(var(--d69,0,149,246),1); border-radius: 4px; color: rgba(var(--d87,255,255,255),1); height: 34px; margin-right: 24px; margin-top: -3px; padding: 0px 16px; }

.H46iC:active { opacity: 0.5; }

.LWmhU { -webkit-box-flex: 0; flex: 0 1 auto; min-width: 125px; width: 215px; }

@media (max-width: 500px) {
  .LWmhU { display: none; }
  ._47KiJ, .ZcHy5 { padding-left: 0px; }
}

.tdiEy, .H46iC { font-size: 16px; }

@media (max-width: 768px) {
  .tdiEy, .H46iC { font-size: 14px; }
}

.skGx4 { color: rgba(var(--edc,199,199,199),1); font-size: 16px; line-height: 29px; margin: 0px 7px; }

.r9-Os { display: flex; margin-right: -1px; }

.r9-Os .tdiEy { font-size: 14px; margin-left: 15px; }

.oZBNB { border: 1px solid rgba(var(--i1d,38,38,38),1); border-radius: 50%; height: 28px; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 28px; }

.SvO5t { background-color: rgba(var(--i1d,38,38,38),1); height: 28px; margin: 0px 16px; transition: opacity 0.1s ease-out 0s; width: 1px; }

.cq2ai { margin-top: 7px; transition: opacity 0.1s ease-out 0s; }

.urHPz .cq2ai, .urHPz .SvO5t { opacity: 0; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .SvO5t { transform: scaleX(0.5); transform-origin: left center; }
}

._0aCwM { height: 28px; }

.mlrQa { left: 11px; position: absolute; top: 9px; z-index: 2; }

.XTCLo, .pbgfb { box-sizing: border-box; height: 100%; width: 100%; }

.pbgfb { border-radius: 3px; color: rgba(var(--f52,142,142,142),1); cursor: text; font-size: 14px; font-weight: 300; left: 0px; padding: 7px; position: absolute; text-align: center; top: 0px; z-index: 2; }

.Di7vw { background: rgba(var(--b3f,250,250,250),1); border: solid 1px rgba(var(--b6a,219,219,219),1); -webkit-box-pack: center; justify-content: center; }

.r-OKF { background: rgba(var(--d87,255,255,255),1); border: 1px solid rgba(var(--b6a,219,219,219),1); }

.eyXLr { display: inline; left: -5px; }

.dfxBb { top: -2px; }

._6RZXI { display: inline-block; margin-right: 6px; vertical-align: baseline; }

.TqC_a { display: inline-block; max-width: 140px; overflow: hidden; text-overflow: ellipsis; vertical-align: bottom; white-space: nowrap; }

.XTCLo { border: solid 1px rgba(var(--b6a,219,219,219),1); border-radius: 3px; color: rgba(var(--i1d,38,38,38),1); outline: 0px; padding: 3px 10px 3px 26px; z-index: 2; }

.XTCLo::-webkit-input-placeholder, .XTCLo:focus::-webkit-input-placeholder { color: rgba(var(--f52,142,142,142),1); }

.XTCLo::placeholder, .XTCLo:focus::placeholder { color: rgba(var(--f52,142,142,142),1); }

.jLwSh { bottom: 0px; left: 0px; position: fixed; right: 0px; top: 0px; z-index: 1; }

.VWmGw { left: auto; position: absolute; right: 5px; top: 5px; z-index: 3; }

.aIYm8 { position: absolute; right: 5px; top: 4px; z-index: 3; }

.Ktjgk { position: absolute; right: -35px; top: 5px; }

.x3qfX { appearance: none; font-size: 14px; background: rgba(var(--b3f,250,250,250),1); }

.x3qfX::-webkit-input-placeholder { color: rgba(var(--f52,142,142,142),1); font-size: 14px; font-weight: 300; opacity: 1; }

.x3qfX::placeholder { color: rgba(var(--f52,142,142,142),1); font-size: 14px; font-weight: 300; opacity: 1; }

.wSNl6 { font-size: 16px; }

.x3qfX:placeholder-shown { font-size: 16px; }

.drKGC { background: rgba(var(--d87,255,255,255),1); border: solid 1px rgba(var(--b6a,219,219,219),1); border-radius: 3px; box-shadow: 0 0 5px rgba(var(--jb7,0,0,0),0.0975); display: block; left: 50%; margin-left: -121px; position: absolute; right: -12px; top: 18px; width: 243px; z-index: 9; }

.drKGC::after { border-color: transparent transparent rgba(var(--d87,255,255,255),1) transparent; border-style: solid; border-width: 0px 10px 10px; content: " "; height: 0px; left: 110px; position: absolute; top: -10px; width: 0px; z-index: 3; }

.kbKz8 .drKGC { top: 10px; }

.VR6_Q { background: rgba(var(--d87,255,255,255),1); border: solid 1px rgba(var(--b6a,219,219,219),1); box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),0.0975); content: " "; height: 14px; left: 0px; margin: auto; position: absolute; right: 0px; top: 12px; transform: rotate(45deg); width: 14px; z-index: 1; }

.kbKz8 .VR6_Q { top: 4px; }

.gJlPN { background: rgba(var(--d87,255,255,255),1); }

._1fBIg { color: rgba(var(--f52,142,142,142),1); font-size: 14px; padding: 15px; text-align: center; }

.UGooC { background: rgba(var(--b3f,250,250,250),1); }

.CyAJ1 { border-bottom: 1px solid rgba(var(--b38,219,219,219),1); padding: 20px 10px 5px; }

.fuqBx { max-height: 362px; overflow: hidden auto; padding: 0px; }

.gJlPN .fuqBx { max-height: 100%; }

.SnxPi { margin: 8px 0px; }

.A6wTd { font-size: 16px; font-weight: 600; margin: 16px 16px 0px; }

.K9O9J { margin: 8px 0px; }

.RR-M- { -webkit-box-align: center; align-items: center; align-self: center; display: block; -webkit-box-flex: 0; flex: 0 0 auto; -webkit-box-pack: center; justify-content: center; }

.h5uC0 { cursor: pointer; }

.CfWVH { -webkit-tap-highlight-color: transparent; user-select: none; }

.RDhSu { -webkit-box-align: center; align-items: center; bottom: -16%; position: absolute; width: 100%; }

.xmQhW { background: linear-gradient(145deg, rgb(196, 0, 146) 0%, rgb(228, 0, 49) 100%); border: 4px rgba(var(--d87,255,255,255),1) solid; border-radius: 8px; color: rgba(var(--de5,255,255,255),1); margin: 0px auto; padding: 6px 8px; user-select: none; }

@-webkit-keyframes pulse-ring { 
  0% { opacity: 0.6; transform: scale(0.779); }
  100% { opacity: 0; transform: scale(1.1); }
}

@keyframes pulse-ring { 
  0% { opacity: 0.6; transform: scale(0.779); }
  100% { opacity: 0; transform: scale(1.1); }
}

@-webkit-keyframes pulse { 
  0% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

@keyframes pulse { 
  0% { transform: scale(0.95); }
  100% { transform: scale(1); }
}

._3SOD { left: -5px; position: absolute; top: -5px; }

.Hvk4l, .hlryi { animation: 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite normal none running pulse-ring; transform-origin: 50% 50%; }

.hlryi { animation: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.6s infinite alternate none running pulse; }

._1iHbP { background: linear-gradient(145deg, rgb(196, 0, 146) 0%, rgb(228, 0, 49) 100%); color: rgba(var(--eca,255,255,255),1); font-weight: 600; max-width: 100%; overflow: hidden; text-overflow: ellipsis; user-select: none; white-space: nowrap; }

.M-jxE { background-color: rgba(var(--b3f,250,250,250),1); border-radius: 50%; box-sizing: border-box; height: 100%; margin: 0px auto; overflow: hidden; position: relative; width: 100%; }

.M-jxE::after { border: 1px solid rgba(var(--jb7,0,0,0),0.0975); border-radius: 50%; bottom: 0px; content: ""; left: 0px; pointer-events: none; position: absolute; right: 0px; top: 0px; }

.IalUJ { border: 0px; cursor: pointer; height: 100%; padding: 0px; width: 100%; }

.LyH8g { cursor: inherit; opacity: 0.5; }

._01jIc, .be6sR { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; }

.QA6oo, ._3CLaK { position: fixed; top: 0px; z-index: 2; width: 100%; }

._3CLaK { background-color: rgba(0, 0, 0, 0.5); bottom: 0px; height: 100%; right: 0px; z-index: 1; }

.OE3OK { -webkit-box-align: center; align-items: center; align-self: center; background: 0px 0px; border: 0px; cursor: pointer; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; padding-bottom: 0px; padding-top: 0px; text-align: center; width: 64px; }

.MLQJX { opacity: 0.5; }

.QN629 { margin-bottom: 8px; margin-top: 4px; }

.eebAO { color: rgba(var(--i1d,38,38,38),1); display: block; font-size: 12px; line-height: 14px; max-width: 64px; overflow: hidden; position: absolute; text-align: center; text-overflow: ellipsis; top: 68px; white-space: nowrap; }

.h_uhZ { letter-spacing: 0.01em; max-width: 74px; }

.puCyQ { color: rgba(var(--f52,142,142,142),1); }

.-nal3, .-nal3:active, .-nal3:visited, .-nal3:hover { color: inherit; }

._81NM2, a._81NM2, a:visited._81NM2 { text-align: center; color: rgba(var(--f52,142,142,142),1); }

.g47SY { color: rgba(var(--i1d,38,38,38),1); font-weight: 600; }

.lOXF2 { display: block; }

.g9vPa { margin: 0px 10px 0px 0px; }

._28KuJ { display: block; margin: 0px 18px 0px 10px; width: 14px; }

.nebtz { display: block; margin: 0px 18px 0px 8px; width: 16px; }

.yCE8d { -webkit-box-align: center; align-items: center; border-bottom: solid 1px rgba(var(--b38,219,219,219),1); display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; flex-shrink: 0; height: 50px; padding: 8px 14px; }

.yCE8d:active { opacity: 1; }

.yCE8d:last-child { border: 0px; }

.z556c { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; margin-right: 0px; white-space: nowrap; width: 100%; }

._2_M76 { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; flex-shrink: 1; -webkit-box-pack: center; justify-content: center; min-width: 0px; }

.Fy4o8 { color: rgba(var(--f52,142,142,142),1); font-size: 14px; font-weight: 300; line-height: 22px; overflow: hidden; text-align: left; text-overflow: ellipsis; }

.uyeeR { color: rgba(var(--i1d,38,38,38),1); -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; font-size: 14px; text-align: left; }

.Ap253 { line-height: 22px; margin-bottom: -4px; overflow: hidden; font-weight: 600; text-overflow: ellipsis; }

.JvDyy { background: rgba(var(--b3f,250,250,250),1); }

.H4fG8 { padding: 16px; }

.H4fG8 ._28KuJ { margin: 0px 34px 0px 18px; }

.H4fG8 .nebtz { margin: 0px 31px 0px 18px; }

.H4fG8 .g9vPa { height: 48px; width: 48px; margin: 0px 16px 0px 0px; }

.q9xVd::after { background: rgba(var(--c37,237,73,86),1); border-radius: 2px; bottom: -10px; content: ""; height: 4px; left: 0px; margin: 0px auto; position: absolute; right: 0px; transition: bottom 0.2s ease-in-out 0s; width: 4px; }

._7EEvc { position: absolute; top: 48px; left: 50%; transform: translateX(-50%); transition: top 0.2s ease-in-out 0s; }

.xWeGp { position: relative; }

.KdEwV, ._2g5Gx { position: absolute; }

.KdEwV { right: -8px; top: -6px; }

._2g5Gx { left: 50%; top: 48px; transform: translateX(-50%); transition: top 0.2s ease-in-out 0s; }

._0ZPOP { background-color: transparent; border: 0px; cursor: pointer; color: transparent; position: relative; }

._4700r.H9zXO::after { bottom: -6px; }

.H9zXO::after { background: rgba(var(--c37,237,73,86),1); border-radius: 2px; bottom: -10px; content: ""; height: 4px; left: 0px; margin: 0px auto; position: absolute; right: 0px; transition: bottom 0.2s ease-in-out 0s; width: 4px; }

.uk0Yc { position: absolute; top: 62px; left: 50%; transform: translateX(-50%); transition: top 0.2s ease-in-out 0s; }

._4700r .uk0Yc { top: 56px; }

.GGDyX { top: 48px; }

.v7QM2 { margin-top: 4px; }

._09OdB { margin-bottom: 4px; }

.poA5q { top: 15px; }

._0Sl_t .poA5q { top: 11px; }

.FKAkE { background-image: linear-gradient(to right, rgb(55, 150, 239), rgb(97, 197, 241)); -webkit-box-ordinal-group: 3; order: 2; }

.P0E_s, ._9K2q4 { color: rgb(255, 255, 255); margin-left: 20px; text-align: left; }

._9K2q4 { font-weight: 600; margin-top: 10px; font-size: 14px; }

.P0E_s { font-size: 12px; margin-bottom: 10px; }

._4RgfU { background-color: rgba(var(--d69,0,149,246),1); }

.SpHho { color: rgb(255, 255, 255); font-size: 12px; line-height: 32px; margin-left: 12px; text-align: left; }

._9eogI { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; -webkit-box-flex: 1; flex-grow: 1; }

.PID-B { left: 0px; position: fixed; right: 0px; top: 0px; z-index: 12; }

.rgFsT { color: rgba(var(--i1d,38,38,38),1); -webkit-box-flex: 1; flex-grow: 1; -webkit-box-pack: center; justify-content: center; margin-top: 12px; max-width: 350px; }

.B35hU { max-width: unset; width: 100%; }

.oZ07Z { color: rgba(var(--f52,142,142,142),1); font-size: 17px; font-weight: 600; line-height: 20px; margin: 0px 40px 10px; text-align: center; }

.M2tlr { padding-bottom: 60px; }

.izU2O { color: rgba(var(--i1d,38,38,38),1); font-size: 14px; margin: 15px; text-align: center; }

.REEZj { color: rgba(var(--f52,142,142,142),1); }

.izU2O > a, .izU2O > a:hover, .izU2O > a:active, .izU2O > a:visited { color: rgba(var(--d69,0,149,246),1); }

.gr27e { -webkit-box-align: center; align-items: center; background-color: rgba(var(--d87,255,255,255),1); border: 1px solid rgba(var(--b6a,219,219,219),1); border-radius: 1px; margin: 0px 0px 10px; padding: 10px 0px; }

.gr27e:last-child { margin-bottom: 0px; }

.gr27e:empty { display: none; }

.QzU5v { margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding-bottom: 0px; width: 100%; }

.o7laV { border: 0px; }

.NXVPg { margin: 22px auto 12px; }

.RL3Y5 { -webkit-box-align: center; align-items: center; padding: 20px 0px; }

@media (max-width: 450px) {
  .rgFsT { -webkit-box-pack: justify; justify-content: space-between; margin-top: 0px; max-width: 100%; }
  .gr27e { background-color: transparent; border: 0px; }
}

._2Wo-s { color: rgba(var(--i1d,38,38,38),1); font-size: 14px; line-height: 18px; margin: 10px 20px; text-align: center; }

._Oq5x { padding: 10px 0px; }

.TfHme { margin: 0px 40px 32px; }

.uEof1 { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; margin-bottom: 16px; }

.xUUM0 { color: rgba(var(--i1d,38,38,38),1); display: block; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0px 40px 16px; text-align: center; }

._2PdAd, .m36gW { font-size: 14px; line-height: 18px; margin: 0px 40px 10px; text-align: center; }

._2PdAd { color: rgba(var(--i30,237,73,86),1); }

.m36gW { color: rgba(var(--i1d,38,38,38),1); }

._9GP1n { -webkit-box-align: center; align-items: center; appearance: none; background: rgba(var(--b3f,250,250,250),1); border: 1px solid rgba(var(--ca6,219,219,219),1); border-radius: 3px; box-sizing: border-box; color: rgba(var(--i1d,38,38,38),1); display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; font-size: 14px; position: relative; width: 100%; }

._2hvTZ { background: rgba(var(--b3f,250,250,250),1); border: 0px; -webkit-box-flex: 1; flex: 1 0 auto; margin: 0px; outline: 0px; overflow: hidden; padding: 9px 0px 7px 8px; text-overflow: ellipsis; }

.i24fI { -webkit-box-align: center; align-items: center; -webkit-box-flex: 0; flex: 0 0 auto; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; height: 100%; padding-right: 8px; vertical-align: middle; }

.HlU5H { border: 1px solid rgba(var(--c8c,168,168,168),1); }

.qYTTt { border: 1px solid rgba(var(--c37,237,73,86),1); }

.AaDgr { background-color: rgba(var(--bb2,239,239,239),1); color: rgba(var(--f52,142,142,142),1); }

.gBp1f { margin-left: 8px; }

.wpY4H { font-size: 14px; margin-right: 4px; }

.CIpxV { color: rgba(var(--c37,237,73,86),1); font-size: 12px; margin: 4px 0px 8px 8px; }

.f0n8F { display: flex; height: 36px; -webkit-box-flex: 1; flex: 1 0 0px; padding: 0px; position: relative; margin: 0px; min-width: 0px; }

._9nyy2 { color: rgba(var(--f52,142,142,142),1); font-size: 12px; height: 36px; left: 8px; line-height: 36px; overflow: hidden; pointer-events: none; position: absolute; right: 0px; text-overflow: ellipsis; transform-origin: left center; transition: transform 0.1s ease-out 0s, -webkit-transform 0.1s ease-out 0s; user-select: none; white-space: nowrap; }

.f0n8F .pexuQ { font-size: 16px; }

.FATdn ._9nyy2 { transform: scale(0.83333) translateY(-10px); }

.FATdn .pexuQ { font-size: 12px; padding: 14px 0px 2px 8px !important; }

.zyHYP { appearance: none; }

.zyHYP:disabled { background-color: rgba(var(--bb2,239,239,239),1); border-color: rgba(var(--b38,219,219,219),1); color: rgba(var(--f52,142,142,142),1); cursor: not-allowed; }

.zyHYP::-webkit-input-placeholder { color: rgb(142, 142, 142); font-weight: 300; opacity: 1; }

.zyHYP::placeholder { color: rgb(142, 142, 142); font-weight: 300; opacity: 1; }

.wxMeA { padding: 10px 0px; }

.XuNZK { margin: 0px 40px 32px; }

.Bckx_ { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; margin-bottom: 16px; }

.OavZo, .gWafB { display: block; margin: 0px 40px 16px; text-align: center; }

.OavZo { font-size: 16px; font-weight: 600; }

.gWafB { font-size: 14px; font-weight: 400; line-height: 18px; }

.tO8XC { color: rgba(var(--i1d,38,38,38),1); }

.Xhr9I { color: rgba(var(--f52,142,142,142),1); }

.D9qtI { color: rgba(var(--i30,237,73,86),1); font-size: 14px; line-height: 18px; margin: 0px 40px 10px; text-align: center; }

.inSEE { color: rgba(var(--i30,237,73,86),1); font-size: 14px; line-height: 18px; text-align: center; }

.O15Fw:not(:last-child) { margin-right: 8px; margin-bottom: 8px; }

.O15Fw { display: inline-block; position: relative; }

.lXXh2 { pointer-events: none; position: absolute; right: 7px; top: 12px; }

.h144Z { appearance: none; background: rgba(var(--d87,255,255,255),1); border: 1px solid rgba(var(--b38,219,219,219),1); border-radius: 3px; color: rgba(var(--f52,142,142,142),1); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 12px; height: 36px; padding: 0px 24px 0px 8px; }

.h144Z:active, .h144Z:focus { border: 1px solid 1px solid rgba(var(--edc,199,199,199),1); color: rgba(var(--i1d,38,38,38),1); outline: 0px; }

.TBUSz { color: rgba(var(--f52,142,142,142),1); }

.lWcar { border: 1px solid rgba(var(--i30,237,73,86),1); }

.U6alp { display: flex; }

.V0z_C { -webkit-box-flex: 1; flex: 1 1 0%; }

.WZdjL { margin: 0px 40px 6px; }

.a5I1A { margin: 0px 40px 8px; }

.a5I1A input { font-size: 12px; }

.hKTMS { margin: 10px 40px 18px; }

.vvzhL { color: rgba(var(--f52,142,142,142),1); font-size: 17px; font-weight: 600; line-height: 20px; margin: 0px 40px 10px; text-align: center; }

.m6lg3 { color: rgba(var(--f52,142,142,142),1); font-size: 14px; margin: 0px 40px 22px; text-align: center; }

.XFYOY { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; max-width: 350px; }

.SQNOX { -webkit-box-align: center; align-items: center; margin: 5px 0px auto; }

.cneKx { display: inline-block; margin-right: 8px; position: relative; top: 3px; }

@media (min-width: 736px) {
  .cneKx { top: 2px; }
}

.P8adC { margin-bottom: 20px; }

.nZl92 { color: rgba(var(--i30,237,73,86),1); font-size: 14px; line-height: 18px; margin: 10px 40px; text-align: center; }

.g4Vm4 { color: rgba(var(--f52,142,142,142),1); font-size: 14px; line-height: 18px; margin: 10px 60px; text-align: center; }

.g4Vm4 > a, .g4Vm4 > a:visited { color: rgba(var(--f52,142,142,142),1); font-weight: 600; }

.ZGwn1 { color: rgba(var(--f52,142,142,142),1); font-size: 12px; line-height: 16px; margin: 10px 40px; text-align: center; }

.ZGwn1 > a, .ZGwn1 > a:visited { color: rgba(var(--f52,142,142,142),1); font-weight: 600; }

._5abUw { display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; margin-top: 4px; }

.NEtc5 { display: inline-block; margin-left: 4px; margin-right: 4px; position: relative; }

.a9OWp { bottom: calc(50% + 25px); left: calc(50% - 25px); position: absolute; visibility: hidden; z-index: 1; }

.NEtc5:hover .a9OWp { visibility: visible; }

.xjIqG { font-weight: 700; }

.K-1uj { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; }

.s311c { -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; background-color: rgba(var(--b38,219,219,219),1); height: 1px; position: relative; top: 0.45em; }

._0tv-g { color: rgba(var(--f52,142,142,142),1); -webkit-box-flex: 0; flex-grow: 0; flex-shrink: 0; font-size: 13px; font-weight: 600; line-height: 15px; margin: 0px 18px; text-transform: uppercase; }

.tkIXv { -webkit-box-align: center; align-items: center; border-top: 1px solid rgba(var(--b6a,219,219,219),1); cursor: pointer; height: 43px; -webkit-box-pack: center; justify-content: center; }

.FsQoP { padding: 10px 0px; }

._8ByoY { padding: 10px 0px 0px; }

.gi2oZ { margin: 0px 40px 6px; }

._3GlM_ { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.swB58 { color: rgba(var(--i1d,38,38,38),1); display: block; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0px 40px 12px; text-align: center; }

.jNzLF, .jNzLF:visited { color: rgba(var(--d69,0,149,246),1); }

._1J8pO, .Bbmhh { font-size: 14px; line-height: 18px; margin: 0px 40px 10px; text-align: center; }

._1J8pO { color: rgba(var(--i30,237,73,86),1); }

.Bbmhh { color: rgba(var(--i1d,38,38,38),1); }

.rxwpz { color: rgb(142, 142, 142); font-size: 14px; font-weight: 400; width: 350px; }

.aFDND { padding: 16px 16px 20px; }

.lAPmk { border-bottom: 1px solid rgb(239, 239, 239); border-top: 1px solid rgb(239, 239, 239); border-right-color: rgb(239, 239, 239); border-left-color: rgb(239, 239, 239); border-right-style: solid; border-left-style: solid; padding-top: 12px; }

.MHDUK { -webkit-box-align: center; align-items: center; color: rgb(38, 38, 38); cursor: pointer; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; font-weight: 600; padding-bottom: 12px; }

.o06Gi { border-radius: 100px; border: 1px solid rgb(239, 239, 239); display: block; height: 36px; margin-right: 12px; width: 36px; }

.l9hKg { display: block; -webkit-box-flex: 1; flex: 1 1 0%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.ZlSjl { -webkit-box-flex: 0; flex-grow: 0; }

._9ctbj { align-self: center; border-radius: 100px; border: 1px solid rgb(239, 239, 239); display: block; height: 84px; margin-bottom: 16px; margin-top: 8px; width: 84px; }

.dMMs- { display: inline-block; margin: 0px; }

@media (max-width: 735px) {
  ._3NQle { margin-left: 40px; margin-right: 40px; width: auto; }
}

.onyFN { color: rgba(var(--i30,237,73,86),1); line-height: 23px; margin: 0px 27px; padding: 0px 8px 20px 10px; vertical-align: middle; }

.Koxwk { color: rgba(var(--i1d,38,38,38),1); line-height: 23px; margin: auto; padding: 0px 8px 20px 10px; vertical-align: middle; }

.bTref { color: rgba(var(--i1d,38,38,38),1); display: inline; }

.A4IYq { border-radius: 100px; border: 1px solid rgb(239, 239, 239); display: block; height: 100px; margin: 10px auto; width: 100px; }

.DrYaw { opacity: 0.2; }

.nrq7i { margin: 15px 0px; padding: 0px 40px; text-align: center; }

@media (max-width: 735px) {
  .U4FH4 { margin: 15px 40px; width: auto; }
}

.jxsF1 { -webkit-box-align: center; align-items: center; display: inline-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; height: 28px; position: relative; }

.I4I02, .jalSa { height: 100%; position: absolute; top: 0px; width: 100%; }

.I4I02 { -webkit-box-align: center; align-items: center; border-radius: 3px; color: rgb(255, 255, 255); display: flex; max-width: 320px; background-color: rgb(66, 103, 178); }

.jalSa { background-color: transparent; border: 0px; cursor: pointer; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; padding: 0px; }

._6uZx5 { -webkit-box-align: center; align-items: center; display: flex; -webkit-box-flex: 0; flex-grow: 0; justify-content: space-around; width: 28px; }

.OzV12 { -webkit-box-flex: 1; flex-grow: 1; font-family: Helvetica, Arial, sans-serif; font-size: 13px; letter-spacing: 0.25px; margin-right: 28px; text-align: center; }

.CF3nq { pointer-events: none; }

.b_nGN { color: rgba(var(--i1d,38,38,38),1); font-size: 14px; line-height: 18px; margin: 10px 20px; text-align: center; }

.iNy2T { -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -webkit-box-pack: center; justify-content: center; margin: 10px 0px; }

@media (max-width: 400px) {
  .iNy2T { flex-wrap: wrap; }
}

.AYpZq { color: rgba(var(--d69,0,149,246),1); font-weight: 600; margin-top: 6px; }

.-MzZI { margin: 0px 40px 6px; }

.Et89U { margin: 0px 40px 6px; }

.Et89U input { font-size: 12px; }

.l4KT0 { color: rgba(var(--f52,142,142,142),1); font-size: 14px; margin: 0px 40px 12px; }

._8Bp8U { color: rgba(var(--d69,0,149,246),1); font-size: 12px; line-height: 14px; margin-top: 22px; text-align: center; }

.sS9vZ { opacity: 0.2; }

.Z7p_S { margin: 10px 40px 18px; }

.VILGp { margin: 14px 40px 22px; }

.HmktE { display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; flex-direction: column; }

.AeB99 { display: inline-block; margin-right: 8px; position: relative; top: 3px; }

.EPjEi { margin-bottom: 10px; max-width: 350px; width: 100%; }

.eiCW-, .W19pC, .a1KEf { font-size: 14px; line-height: 18px; text-align: center; }

.eiCW- { color: rgba(var(--i30,237,73,86),1); margin: 10px 40px; }

.W19pC { color: rgba(var(--f52,142,142,142),1); margin: 10px 40px 30px; }

.a1KEf { color: rgba(var(--i1d,38,38,38),1); margin: 10px 40px 30px; }

.KPnG0 { color: rgb(56, 81, 133); }

._2Lks6, ._2Lks6:hover, ._2Lks6:active, ._2Lks6:visited { color: rgba(var(--fe0,0,55,107),1); font-size: 12px; line-height: 14px; margin-top: 12px; text-align: center; }

.Nd6FG { background-color: rgba(var(--d87,255,255,255),1); }

._8F2QW { background-color: rgba(var(--d87,255,255,255),1); -webkit-box-flex: 1; flex-grow: 1; margin: initial; max-height: calc(100vh - 80px); }

.vau5H { -webkit-box-flex: 1; flex: 1 1 0%; }

.FkhkD > span:first-child { font-weight: 600; }

.vau5H span { font-size: 14px; margin: 0px 30px 30px; text-align: center; }

@media (min-width: 736px) {
  .Nd6FG { background-color: initial; }
  ._8F2QW { margin: auto; max-height: 420px; max-width: 512px; }
  .uj53w li { min-width: 448px; }
  .hf0Z9 { max-height: 262px; }
}

.XnQ-0 { font-size: 16px; font-weight: 700; margin-bottom: 8px; text-align: center; }

.Vz9zI { margin-right: 4px; }

.qMFi1, ._16jrd, .hBVGV { color: rgba(var(--f52,142,142,142),1); font-size: 12px; margin: 0px auto 8px; }

._16jrd { list-style-type: disc; margin-left: 16px; }

.hBVGV, .hBVGV a, .hBVGV a:visited, a.JUhMz, a:visited.JUhMz { color: rgba(var(--d69,0,149,246),1); text-align: center; }

.rZzGH { border-right: 0px; border-bottom: 0px; border-left: 0px; border-image: initial; border-top: 1px solid rgba(var(--b38,219,219,219),1); margin-bottom: 24px; margin-top: 12px; width: 100%; }

.eS6pE { -webkit-box-align: center; align-items: center; display: flex; margin: 24px 16px; }

.hf0Z9 { -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; overflow: auto; padding: 24px 16px; }

._0GT5G { border-top: 1px solid rgba(var(--b38,219,219,219),1); flex-shrink: 0; width: 100%; }

.PR5jL { color: rgba(var(--f52,142,142,142),1); font-size: 10px; margin-bottom: 8px; text-align: center; }

._0voMS { -webkit-box-align: center; align-items: center; display: flex; font-size: 14px; font-weight: 600; height: 32px; -webkit-box-pack: justify; justify-content: space-between; }

.zNpf4 { appearance: none; border: 2px solid rgba(var(--ca6,219,219,219),1); border-radius: 50%; height: 24px; transition: all 0.2s linear 0s; width: 24px; }

.zNpf4:focus { outline: 0px; }

.zNpf4:checked { background-color: rgba(var(--d87,255,255,255),1); border: 8px solid rgba(var(--d69,0,149,246),1); }

.CIjBL { margin: 40px auto; }

.OXZut, a.OXZut, a:visited.OXZut { color: rgba(var(--i1d,38,38,38),1); cursor: pointer; font-weight: 600; }

._7qqQU { color: rgba(var(--f52,142,142,142),1); display: inline; font-size: 12px; text-align: center; }

.Z2m7o { bottom: 0px; left: 0px; overflow: hidden; position: fixed; right: 0px; z-index: 500; }

.CgFia { transform: translateY(0px); transition: transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s; }

.CgFia.rUsiS { transform: translateY(100%); }

@media (min-width: 736px) {
  .CgFia { -webkit-box-align: center; align-items: center; }
  .HGN2m { border-radius: 2px 2px 0px 0px; min-width: 500px; width: auto; }
}

.XjicZ { background-color: rgb(38, 38, 38); -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; min-height: 44px; padding: 0px 16px; width: 100%; }

.JBIyP { -webkit-box-flex: 1; flex-grow: 1; flex-shrink: 1; -webkit-box-pack: center; justify-content: center; min-width: 200px; }

.gxNyb { color: rgb(255, 255, 255); font-size: 14px; line-height: 18px; max-height: 72px; padding: 12px 0px; overflow: hidden; }

.za6AE { border: 2px solid rgba(var(--i1d,38,38,38),1); border-radius: 50%; box-sizing: content-box; height: 96px; width: 96px; }

.JVzwk { text-align: center; }

.KlSaW { background: rgba(var(--d87,255,255,255),1); border-radius: 500px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 22px; margin: 0px auto; }

.Rxdjr { -webkit-font-smoothing: antialiased; appearance: none; background: 0px 0px; border: 0px; margin: 0px; padding: 0px; }

.DT7qQ { height: 100%; width: 100%; }

.IEL5I { padding-top: 45px; -webkit-box-flex: 1; flex: 1 1 0%; height: 100%; max-height: 100%; }

.t30g8 { padding-top: 77px; -webkit-box-flex: 1; flex: 1 1 0%; height: 100%; background-color: rgba(var(--b3f,250,250,250),1); max-height: 100%; }

.L1C6I { padding-top: 54px; }

.ZCZ-n { width: 100%; z-index: 10; }

._01nki { height: 100%; overflow: hidden; width: 100%; }